<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign a new certificate</title>
    <style>
        input, select {
            width: 100%;
        }
        select {
            padding: 2px 0;
        }
    </style>
</head>
<body>
    {{range .Errors}}
        <div>{{.}}</div>
        <hr>
    {{end}}
    <form action="/add.do" method="post" enctype="multipart/form-data">
        <table>
            <tbody>
                <tr>
                    <td><label for="filename">*Filename</label></td>
                    <td><input type="text" id="filename" name="filename" value="{{.CertificateForm.Filename}}" /></td>
                </tr>
                <tr>
                    <td><label for="hostname">*Hostname</label></td>
                    <td><input type="text" id="hostname" name="hostname" value="{{.CertificateForm.Hostname}}" /></td>
                </tr>
                <tr>
                    <td><label for="keyType">Key Type</label></td>
                    <td>
                        <select id="keyType" name="keyType" value="">
                            <option value="EC" {{if eq "EC" .CertificateForm.KeyType}}selected{{end}}>EC</option>
                            <option value="OKP" {{if eq "OKP" .CertificateForm.KeyType}}selected{{end}}>OKP</option>
                            <option value="RSA" {{if eq "RSA" .CertificateForm.KeyType}}selected{{end}}>RSA</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="expireInHour">*ExpireInHour</label></td>
                    <td><input type="number" min="12" id="expireInHour" name="expireInHour" value="{{.CertificateForm.ExpireInHour}}" placeholder="Default is 8760" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Submit</button>
                        <button type="button" onclick="history.back()">Back</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>
